h1 {
    font-size: 100px;
    text-align: center;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 100px;
}

.product-info {
    display: flex;
    font-size: 60px;
    justify-content: space-between;
    background-color: white;
    width: 1500px;
    border-radius: 50px 50px 0px 0px;
    padding-inline: 50px;
    padding-block: 30px;
}

.amount {
    display: flex;
    gap: 20px;
    background-color: white;
    width: 1500px;
    border-radius: 0px 0px 50px 50px;
    padding-inline: 50px;
    padding-block: 30px;
    border-top: 4px solid black;

}

.quantity {
    font-size: 60px;
    background-color: #FFB181;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 20px;
}

.minus, .plus {
    width: 70px;
    height: 70px;
    font-size: 60px;
    text-align: center;
    background-color: #FF7520;
    border: none;
    border-radius: 20px;
}