.name-and-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    text-align: center;
    gap: 40px;
    padding-inline: 30px;
}

.name {
    font-size: 90px;
}

.description {
    font-size: 60px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.price {
    background-color: #FF7520;
    width: 30%;
    text-decoration: none;
    color: black;
    font-size: 100px;
    font-family: "Lato", sans-serif;
    font-weight: normal;
    font-style: normal;
    padding-block: 40px;
    border-radius: 100px;
    text-align: center;
}

.add-item {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.quantity {
    background-color: #FFB181;
    width: 150px;
    height: 150px;
    font-size: 100px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.plus, .minus {
    background-color: #FF7520;
    width: 150px;
    height: 150px;
    font-size: 100px;
    border-radius: 20px;
    text-align: center;
    border: none;
}

.form {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer {
    background-color: #8CD003;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.cancel {
    background-color: #053631;
    height: fit-content;
    width: 600px;
    padding-inline: 40px;
    padding-block: 60px;
    font-size: 100px;
    text-align: center;
    color: #FF7520;
    text-decoration: none;
    border-radius: 30px;
}

.logo {
    height: 200px;
}

.cart {
    background-color: #FF7520;
    height: fit-content;
    width: 600px;
    padding-inline: 40px;
    padding-block: 60px;
    font-size: 100px;
    text-align: center;
    color: black;
    text-decoration: none;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


